<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.35">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.9"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.9">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.9"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>WSUS_Server</name>
          <description></description>
          <defaultValue>10.117.224.23</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>PatchType</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>DotNet</string>
              <string>Non-DotNet</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.74">
    <script>pipeline {
        agent any
        environment {
		       ansible_userid = credentials(&apos;ansible_userid&apos;)
                ansible_password = credentials(&apos;ansible_password&apos;)
                
        }
        
         stages {
               stage(&apos;Validating&apos;)
                {
                        steps {
                                dir(&quot;/var/lib/jenkins/workspace/WSUSPatch-Release-Report&quot;)
                                {
                                  sh &apos;sh server_add.sh&apos;
                                 }
                               }
                 }
                 stage(&apos;Generating Report&apos;)
                {
                        steps {
                                dir(&quot;/var/lib/jenkins/workspace/WSUSPatch-Release-Report&quot;)
                                {
                                   sh &apos;ansible-playbook WSUS_Patch.yml -i inventory.txt -e &quot;ansible_user=$ansible_userid ansible_password=$ansible_password&quot;&apos;
                                 }
                               }
                 }
				 stage(&apos;Completed&apos;)
                {
                        steps {
                                dir(&quot;/var/lib/jenkins/workspace/WSUSPatch-Release-Report&quot;)
                                {
                                    
                                 }
                               }
                 }
}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>